In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [90]:
text = ['The quick brown fox jumped over the lazy dog']

In [91]:
vectorizer = CountVectorizer()
vectorizer.fit(text)
print(vectorizer.vocabulary_)
#encode the document
vector = vectorizer.transform(text)
print(vector.shape)
print(type(vector))
print(vector.toarray())

{u'brown': 0, u'lazy': 4, u'jumped': 3, u'over': 5, u'fox': 2, u'dog': 1, u'quick': 6, u'the': 7}
(1, 8)
<class 'scipy.sparse.csr.csr_matrix'>
[[1 1 1 1 1 1 1 2]]

In [92]:
vector = vectorizer.transform(text)
print(vector.shape)
print(type(vector))
print(vector.toarray())

(1, 8)
<class 'scipy.sparse.csr.csr_matrix'>
[[1 1 1 1 1 1 1 2]]

In [93]:
vector.toarray()
df = pd.DataFrame(vector.todense())
df.describe()

         0    1    2    3    4    5    6    7
count  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
mean   1.0  1.0  1.0  1.0  1.0  1.0  1.0  2.0
std    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
min    1.0  1.0  1.0  1.0  1.0  1.0  1.0  2.0
25%    1.0  1.0  1.0  1.0  1.0  1.0  1.0  2.0
50%    1.0  1.0  1.0  1.0  1.0  1.0  1.0  2.0
75%    1.0  1.0  1.0  1.0  1.0  1.0  1.0  2.0
max    1.0  1.0  1.0  1.0  1.0  1.0  1.0  2.0

TF-IDF stands for term-frequency inverse document frequency

Term Frequency: how often a given word appears with a document

Invers Document Frequency: this downscales words that appear a lot across documents. e.g frequent in a document but not across documents.

In [79]:
text_2 = ['The quick brown fox jumped over the lazy dog','The dog','The fox']

In [80]:
#create the transform
vectorizer_2 = TfidfVectorizer()
#tokenize and build vocab
vectorizer_2.fit(text_2)
# summarize
print(vectorizer_2.vocabulary_)
print(vectorizer_2.idf_)
#encode document
vector_2 = vectorizer_2.transform(text_2)
#summarize encode vector
print(vector_2.shape)
print(vector_2.toarray())

{u'brown': 0, u'lazy': 4, u'jumped': 3, u'over': 5, u'fox': 2, u'dog': 1, u'quick': 6, u'the': 7}
[1.69314718 1.28768207 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.        ]
(3, 8)
[[0.36388646 0.27674503 0.27674503 0.36388646 0.36388646 0.36388646
  0.36388646 0.42983441]
 [0.         0.78980693 0.         0.         0.         0.
  0.         0.61335554]
 [0.         0.         0.78980693 0.         0.         0.
  0.         0.61335554]]

In [81]:
vector_2.shape

(3, 8)

In [94]:
vector_2.toarray()
pd.DataFrame(vector_2.todense())

,0,1,2,3,4,5,6,7
0,0.363886,0.276745,0.276745,0.363886,0.363886,0.363886,0.363886,0.429834
1,0.000000,0.789807,0.000000,0.000000,0.000000,0.000000,0.000000,0.613356
2,0.000000,0.000000,0.789807,0.000000,0.000000,0.000000,0.000000,0.613356

In [95]:
df.info

<bound method DataFrame.info of    0  1  2  3  4  5  6  7
0  1  1  1  1  1  1  1  2>

In [96]:
# trying to get cosine similarity
cosine_similarity(vector,vector_2)

array([[0.9746629 , 0.60800305, 0.60800305]])